html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  margin-top: 10px;
  font-family: 'helvetica neue', helvetica, sans-serif;
}

a {
  color: #333;
  font-size: 14px;
}
a.button {
  text-decoration: none;
  background-color: #419BF9;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  float: left;
  margin-right: 10px;
}

a:hover {
  background: rgb(151, 202, 255);
}

a.minor {
    background-color: #eee;
    color: #333;
}

a.minor:hover {
  background-color: #fff;
}

h1 {
  margin-bottom: 10px;
}

form {
  margin: 10px;
}

input {
  width: 80%;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}
/*hdh css*/
.canvas-container {
  margin: 0 auto;
  width:100%;
}

.view-canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:450px;
  height:450px;
  border: 1px solid grey;
}

.game-info {
  margin: 10px auto;
  width:100%;
  text-align: center;
  background-color: #D2DFE8;
}

.game-info span {
  /*margin:10px;*/
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  font-size: 30px;
}

.game-info .countdown {
  color:#FA2A00;
}

.game-info .prompt {
  display: block; 
}

.game-info .tile-label {

}

.pwColorSelector{
  margin: 10px auto;
  width: 100%;
  text-align: center;
}

.pwColorSelector li {
  margin: 4px;
  display: inline-block;
  width:20px;
  height:20px;
  position: relative;
}

.size-selector {
  margin: 10px auto;
  width: 100%;
  text-align: center;
}



/*end of hdhcss*/
.container {
  width: 100%;
  max-width: 100%;
  padding: 10px;
}

.enter-code-form {
  margin-top: 20px;
  clear: both;
  float: left;
}
.enter-code-form input {
  font-size: 24px;
  float: left;
  clear: both;
}
.enter-code-form a {
  float: left;
  clear: both;
}

h1 {
  background: url(../assets/images/spliced-logo.png) 0 0 no-repeat;
  width: 167px;
  height: 76px;
  background-size: 167px 76px;
  text-indent: -9999px;
  margin-top: 0;
}

.gameStatus {
  width: 100%;
  float: left;
  margin-top: 2em;
}


@media (max-width: 400px) {
  img {
      width: 100%;
  }
}

.honky {
  border: 1px solid black;
  min-width: 200px;
  height: 200px;
}