<div id='view' ng-controller='ViewController' ng-init="init()"> 
  <div class="drawing-area">
    <div class="game-info">
      <span class="countdown">{{game.timeLimit}}</span>
      <!-- <span>{{game.name}}</span> -->
      <span>{{game.code}}</span>
    </div>
    
    <div class='game-container'>
      <div my-view class='canvas-container'>
        <canvas class='view-canvas'></canvas>
      </div>

      <div class='player-list'>
        <table id="playersList">
          <thead>
            <th>Score</th>
            <th>Username</th>
            <th>Last Guess</th>
          </thead>
          <tbody>
            <tr ng-repeat="p in game.players | orderBy: p.score">
              <td>{{p.score}}</td>
              <td ng-class="p.role">{{p.playerName}}</td>
              <td ng-style="p.guessStyle">{{p.lastGuess}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
    <a ng-click="save()" class="button minor">Save Image</a>
    <a ng-click="gameStart()" class="button major">Start Game</a>
  </div>
  
</div>