
<!-- <div ng-view class="container"> -->
<div id="splicechat">
  <form ng-submit="sendMsg()">
    Enter text and hit enter:
    <input ng-model="msg" />
    <input type="submit" id="chatinput" value="Submit" />
  </form>

  <table>
    <tr>
      <td>
 <!--      <div ng-repeat="panel in panels">
        <p>panel {{$index}} {{panel}}</p>
        <div class="finalImage" ><img src="{{panel}}"/></div>
      </div> -->
          
        <div class="honky"><img src="{{panels[0]}}"/></div>
      </td>
      <td>
        <div class="honky"><img src="{{panels[1]}}"/></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="honky"><img src="{{panels[2]}}"/></div>
        </td>
      <td>
        <div class="honky"><img src="{{panels[3]}}"/></div>
      </td>
    </tr>
  </table>
  
  <h3>FUCKIN' MESSAGES</h3>
  <p ng-repeat="msg in messages">{{msg}}</p>

</div>